{% if page.organizer %}
<a href="https://mila.quebec/en/"><img id = 'mila_logo' class="img-fluid" src="/assets/img/logos/mila_logo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.crmath.ca/en/"><img id = 'crm_logo' class="img-fluid" src="/assets/img/logos/crm_logo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.valencelabs.com"><img id = 'valence_logo' class="img-fluid" src="/assets/img/logos/valence_logo.svg" style="margin: 10px 10px 10px 10px;"></a>

{% endif %}
